In [1]:
import pandas as pd

In [54]:
df1 = pd.read_csv('e1.csv', sep='|', header=None, usecols=[5])
df1 = df1.assign(label=1)
df1.columns = ["message", "label"]
df1.head()

                                             message  label
0  The lack of this understanding is a small but ...      1
1  i just told my parents about my depression and...      1
2  depression is something i don't speak about ev...      1
3  Made myself a tortilla filled with pb&j. My de...      1
4  @WorldofOutlaws I am gonna need depression med...      1

In [55]:
df2 = pd.read_csv('e2.csv', usecols=[2, 3])
df2.head()

                                             message  label
0  just had a real good moment. i missssssssss hi...      0
1         is reading manga  http://plurk.com/p/mzp1e      0
2  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3  @lapcat Need to send 'em to my accountant tomo...      0
4      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [56]:
df3 = pd.read_csv("e3.csv")
df3 = df3.iloc[:, 1:3]
emotions = ["happy", "surprise", "happy|surprise"]
df3 = df3[df3.label.isin(emotions)]
df3.label = 0
df3.head()

                                             message  label
1  Dorian Gray with Rainbow Scarf #LoveWins (from...      0
2  @SelectShowcase @Tate_StIves ... Replace with ...      0
3  @Sofabsports thank you for following me back. ...      0
4  @britishmuseum @TudorHistory What a beautiful ...      0
5  @NationalGallery @ThePoldarkian I have always ...      0

In [70]:
print('len(e1): ', len(df1))
print('len(e2): ', len(df2))
print('len(e3): ', len(df3))
print('depression positive(e1): ', len(df1[df1['label'] == 1]))
print('depression positive(e2): ', len(df2[df2['label'] == 1]))
print('depression positive(e3): ', len(df3[df3['label'] == 1]))

len(e1):  2345
len(e2):  4627
len(e3):  1183
depression positive(e1):  2345
depression positive(e2):  2313
depression positive(e3):  0

In [74]:
df = pd.concat([df1, df2, df3])

8155
3497
4658

In [75]:
print('total data: ', len(df))
print('depression data: ', len(df[df['label'] == 0]))
print('non depression datadata: ', len(df[df['label'] == 1]))

total data:  8155
depression data:  3497
non depression datadata:  4658

In [76]:
df.to_csv('d1.csv')